---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAJLF4KCDNSCNVJ25A&AssociateTag=jscc0a-20&ItemId=B002QYW8LW&Operation=ItemLookup&ResponseGroup=Small,%20Reviews&Service=AWSECommerceService&Signature=ySxrrsUngN3aNVl5gnB9CbtmHVtktVeUbsdnwi%2Bvaqo=&Timestamp=2017-08-14T05:48:20Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2013-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Ruby"></Header></HTTPHeaders><RequestId>8dcabcd0-9bf4-448f-83ad-7eaf1c477381</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAJLF4KCDNSCNVJ25A"></Argument><Argument Name="AssociateTag"
        Value="jscc0a-20"></Argument><Argument Name="ItemId" Value="B002QYW8LW"></Argument><Argument
        Name="Operation" Value="ItemLookup"></Argument><Argument Name="ResponseGroup"
        Value="Small, Reviews"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument><Argument
        Name="Timestamp" Value="2017-08-14T05:48:20Z"></Argument><Argument Name="Version"
        Value="2013-08-01"></Argument><Argument Name="Signature" Value="ySxrrsUngN3aNVl5gnB9CbtmHVtktVeUbsdnwi+vaqo="></Argument></Arguments><RequestProcessingTime>0.0201591040000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>ASIN</IdType><ItemId>B002QYW8LW</ItemId><ResponseGroup>Small</ResponseGroup><ResponseGroup>Reviews</ResponseGroup><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>B002QYW8LW</ASIN><ParentASIN>B00OQCZAVW</ParentASIN><DetailPageURL>https://www.amazon.com/Baby-Banana-Training-Toothbrush-Teether/dp/B002QYW8LW?psc=1&amp;SubscriptionId=AKIAJLF4KCDNSCNVJ25A&amp;tag=jscc0a-20&amp;linkCode=xm2&amp;camp=2025&amp;creative=165953&amp;creativeASIN=B002QYW8LW</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>https://www.amazon.com/Baby-Banana-Training-Toothbrush-Teether/dp/tech-data/B002QYW8LW?SubscriptionId=AKIAJLF4KCDNSCNVJ25A&amp;tag=jscc0a-20&amp;linkCode=xm2&amp;camp=2025&amp;creative=386001&amp;creativeASIN=B002QYW8LW</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>https://www.amazon.com/gp/registry/baby/add-item.html?asin.0=B002QYW8LW&amp;SubscriptionId=AKIAJLF4KCDNSCNVJ25A&amp;tag=jscc0a-20&amp;linkCode=xm2&amp;camp=2025&amp;creative=386001&amp;creativeA[...]
- request:
    method: put
    uri: http://localhost:9200/products/product/B002QYW8LW
    body:
      encoding: UTF-8
      string: '{"created_at":"2017-08-14T05:48:20.872Z","updated_at":"2017-08-14T05:48:21.276Z","name":"Baby
        Banana Infant Training Toothbrush and Teether, Yellow","reviews_url":"https://www.amazon.com/reviews/iframe?akid=AKIAJLF4KCDNSCNVJ25A\u0026amp;alinkCode=xm2\u0026amp;asin=B002QYW8LW\u0026amp;atag=jscc0a-20\u0026amp;exp=2017-08-15T05%3A48%3A22Z\u0026amp;v=2\u0026amp;sig=39uP84vSB7dY1zkcp7mwBTQKKxpxE7oEPxNoIAwYGPk%253D"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_index":"products","_type":"product","_id":"B002QYW8LW","_version":8,"created":false}'
  recorded_at: Mon, 14 Aug 2017 05:48:21 GMT
- request:
    method: get
    uri: http://localhost:9200/products/product/B002QYW8LW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"_index":"products","_type":"product","_id":"B002QYW8LW","_version":8,"found":true,"_source":{"created_at":"2017-08-14T05:48:20.872Z","updated_at":"2017-08-14T05:48:21.276Z","name":"Baby
        Banana Infant Training Toothbrush and Teether, Yellow","reviews_url":"https://www.amazon.com/reviews/iframe?akid=AKIAJLF4KCDNSCNVJ25A\u0026amp;alinkCode=xm2\u0026amp;asin=B002QYW8LW\u0026amp;atag=jscc0a-20\u0026amp;exp=2017-08-15T05%3A48%3A22Z\u0026amp;v=2\u0026amp;sig=39uP84vSB7dY1zkcp7mwBTQKKxpxE7oEPxNoIAwYGPk%253D"}}'
  recorded_at: Mon, 14 Aug 2017 05:48:21 GMT
recorded_with: VCR 3.0.3
